/* здесь используйте глобальные переменные */
$primary-font: "Oswald", "Arial", sans-serif;
$secondary-font: "Lato", "Arial", sans-serif;

// colors
$basic-white: #ffffff;
$basic-black: #000000;
$primary-color: #68b738;
$button-hover: #5eaa2f;
$button-hover-secondary: #ebebeb;
$basic-grey: #f2f2f2;
$dark-grey: #444444;
$dark-grey-tile: #222222;
$special-grey: #666666;
$gray-bg: #eaeaea;
$border-color: #e7e7e7;
$border-hover-color: #cdcdcd;
$hover-radio: #bababa;
$status-error: #ff8282;

// width
$mobile-width-only: 767px;
$tablet-width: 768px;
$tablet-big-width: 992px;
$desktop-width: 1200px;
$desktop-width-extra: 1440px;
