/* здесь используйте глобальные переменные */
$primary-font: "Oswald", sans-serif;
$secondary-font: "Lato", sans-serif;
// colors
$basic-white: #FFFFFF;
$basic-black: #000000;
$basic-green: #68B738;
$basic-grey: #F2F2F2;
$dark-grey: #444444;
$dark-grey-tile: #222222;
$special-grey: #666666;
$gray-bg: #EAEAEA;
$border-color: #E7E7E7;
$border-hover-color: #CDCDCD;
$status_error: #FF8282;
