.additive__title {
  font-size: 24px;
  line-height: 24px;
  color: $basic-black;
}

.additive__name {
  font-size: 16px;
  line-height: 16px;
  color: $dark-grey-tile;
}

.additive__features {
  display: flex;
  font-family: $secondary-font;
  font-size: 14px;
  line-height: 14px;
}

.additive__promo {
  height: 290px;
}
