.burger {
  position: relative;
  z-index: 10;
  padding: 0;
  padding-top: 4px;
  padding-bottom: 4px;
  width: 24px;
  height: 24px;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.burger__line {
  display: block;
  width: 24px;
  height: 2px;
  background-color: $basic-black;
  transition: all 0.3s ease;
}

.burger__line::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 0;
  display: block;
  width: 24px;
  height: 2px;
  background-color: $basic-black;
  transition: all 0.1s ease;
}

.burger__line::after {
  content: "";
  position: absolute;
  bottom: 4px;
  left: 0;
  display: block;
  width: 24px;
  height: 2px;
  background-color: $basic-black;
  transition: all 0.1s ease;
}

.burger--closed .burger__line {
  transform: rotate(45deg);
}

.burger--closed .burger__line::before {
  display: none;
}

.burger--closed .burger__line::after {
  bottom: 0;
  transform: rotate(90deg);
}
