.button {
  display: inline-block;
  padding: 10px 15px;
  font-family: $primary-font;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  border: none;
  background-color: transparent;
}

.button--primary {
  background-color: $basic-green;
  color: $basic-white;
}

.button--secondary {
  background-color: $basic-grey;
  color: $dark-grey;
}
