.catalog-product__list {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    // justify-content: center;
    gap: 60px;
  }
}

.catalog-product__card {
  width: 100%;

  @media (min-width: $tablet-width) {
    width: 324px;
  }
}
