.control {
  display: flex;
  align-items: center;
  column-gap: 15px;
  cursor: pointer;
  transition: border-color 0.3s ease-in-out;

  @media (min-width: $tablet-width) {
    column-gap: 19px;
  }
}

.control:hover .control__input {
  border-color: $hover-radio;
}

.control:has(.control__input:disabled) {
  opacity: 0.3;
  cursor: not-allowed;
}

.control__input {
  position: relative;
  appearance: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  margin: 0;
  padding: 0;
  width: 30px;
  height: 30px;
  border: 1px solid $border-hover-color;
  border-radius: 50%;
  cursor: pointer;

  &:focus-visible {
    outline: 2px solid $primary-color;
    outline-offset: 2px;
  }

  &:disabled {
    border-color: $hover-radio;
    cursor: not-allowed;
  }

  @media (min-width: $tablet-width) {
    width: 40px;
    height: 40px;
  }
}

.control__input[type="radio"]:checked::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: $primary-color;

  @media (min-width: $tablet-width) {
    width: 20px;
    height: 20px;
  }
}

.control__input[type="checkbox"] {
  border-radius: 0;
}

.control__input[type="checkbox"]:checked::before {
  content: "";

  @include bg-icon(
    transparent,
    url("../../images/icons/stack.svg#tick"),
    26px 26px
  );
  width: 26px;
  height: 26px;
}

.control__label {
  max-width: 300px;
  font-size: 16px;
  word-wrap: break-word;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    @include fonts-tablet-form;
  }
}
