.descr {
  margin: 0;
  font-family: $secondary-font;
  color: $dark-grey;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
  }
}

.descr--caption {
  font-family: $primary-font;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}
