.example-images {
  position: relative;
  display: flex;
  justify-content: center;
}

.example-images__comp {
  position: relative;
  height: 256px;
  overflow: hidden;
}

.example-images__before {
  z-index: 10;
  width: 139px;
}

.example-images__after {
  z-index: 20;
  width: 143px;

  &::before {
    content: "";
    position: absolute;
    z-index: 30;
    left: 0;
    width: 4px;
    min-height: 100%;
    border-radius: 2px;
    background-color: $special-grey;
    transition: background-color 0.1s ease;
  }
}

.example-images__before-img {
  min-width: 280px;
  height: 100%;
}

.example-images__after-img {
  position: absolute;
  right: 0;
  height: 100%;
  min-width: 280px;
}

.example-images__button {
  position: absolute;
  z-index: 30;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: ew-resize;
  padding: 0;
  width: 40px;
  height: 40px;
  background-color: $basic-white;
  border: 2px solid $special-grey;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: background-color 0.3s ease, border-color 0.2s ease;

  &:hover {
    border-color: $basic-green;
  }

  &:active {
    border-color: rgba(94, 170, 47, 0.6);
  }

  &::before {
    @include icons-mask(
      $special-grey,
      url("../../images/icons/stack.svg#thumb")
    );
    content: "";
    width: 24px;
    height: 18px;
  }

  &:hover::before {
    background-color: $basic-green;
  }

  &:active::before {
    background-color: rgba(94, 170, 47, 0.6);
  }
}

.example-images__button:hover + .example-images__after::before {
  background-color: $basic-green;
  transition: background-color 0.3s ease;
}
