.example-images {
  position: relative;
  display: flex;
  justify-content: center;
  height: 256px;
}

.example-images__comp {
  position: absolute;
  width: 280px;
  height: 256px;
  overflow: hidden;
}

.example-images__before {
  z-index: 10;
  right: 50%;
}

.example-images__after {
  left: 50%;
  z-index: 20;
}

.example-images__before-img {
  position: absolute;
  left: 50%;
}

.example-images__after-img {
  position: absolute;
  right: 50%;
}

.example-images__button {
  position: absolute;
  z-index: 30;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: ew-resize;
  padding: 0;
  width: 40px;
  height: 40px;
  background-color: $basic-white;
  border: 2px solid $special-grey;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: background-color 0.3s ease, border-color 0.2s ease;

  &:hover {
    border-color: $basic-green;
  }

  &:active {
    border-color: rgba(94, 170, 47, 0.6);
  }

  &::before {
    @include icons-mask(
      $special-grey,
      url("../../images/icons/stack.svg#thumb")
    );
    content: "";
    width: 24px;
    height: 18px;
  }

  &::after {
    content: "";
    position: absolute;
    display: flex;
    z-index: -1;
    width: 4px;
    height: 256px;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    background: linear-gradient(
      $special-grey 43%,
      transparent 43%,
      transparent 57%,
      $special-grey 57%,
      $special-grey 100%
    );
  }

  &:hover::before {
    background-color: $basic-green;
  }

  &:active::before {
    background-color: rgba(94, 170, 47, 0.6);
  }
}
