.hero {
  background-image: linear-gradient(
      rgba(104, 183, 56, 0.85) 60%,
      rgba(104, 183, 56, 0.85) 60%,
      $basic-white 40%
    ),
    url("../../images/background/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
}

@media (-webkit-max-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        rgba(104, 183, 56, 0.85) 60%,
        rgba(104, 183, 56, 0.85) 60%,
        $basic-white 40%
      ),
      url("../../images/background/index-background-mobile@2x.jpg");
  }
}

.hero__title {
  font-size: 36px;
  line-height: 36px;
}

.hero__title--light {
  color: $basic-white;
}

.hero__descr {
  line-height: 14px;
  color: $basic-white;
}
