.inner-container__header {
  min-width: 320px;
  padding: 27px 20px 37px;
  margin: 0 auto;
  border-bottom: 1px solid $border-hover-color;

  @media (min-width: $tablet-width) {
    padding: 38px 30px 0;
    margin-bottom: 84px;
    border: none;
  }

  @media (min-width: $desktop-width) {
    max-width: 1330px;
    padding: 21px 55px 0;
  }
}

.inner-container__header--form {
  padding-bottom: 34px;
  border: none;
}

.inner-container__title {
  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }
}
