.input {
  padding: 14px 13px 13px 15px;
  font-family: $primary-font;
  font-size: 16px;
  border: 1px solid #e7e7e7;
  color: $dark-grey;
  text-transform: uppercase;

  &::placeholder {
    color: $dark-grey;
  }

  @media (min-width: $tablet-width) {
    @include fonts-tablet-form;
  }
}

/* stylelint-disable */
.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
  appearance: none;
}
/* stylelint-enable */

.input[type="number"] {
  appearance: textfield;
}
