.logo-academy {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;

  &::after {
    @include icons-mask(
      $special-grey,
      url("../../images/icons/stack.svg#logo-html-icon")
    );
    content: "";
    width: 27px;
    height: 34px;
    flex-shrink: 0;
  }

  &:focus-visible {
    outline: 2px solid $primary-color;
  }

  &:hover::after {
    background-color: $primary-color;
  }

  &:active::before {
    background-color: $primary-color;
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    justify-self: end;
    gap: 23px;
    padding: 0;
    width: 164px;
  }
}

.logo-academy__text {
  content: "";
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 20px;
  color: $dark-grey;
}
