.main-header {
  position: relative;
  padding: 13px 0 14px 0;
}

.main-header .container {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 24px;

  @media (min-width: $tablet-width) {
    grid-template-columns: 174px 1fr;
    column-gap: 40px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 50% 50%;
    column-gap: 0;
  }
}

.main-header__logo {
  display: grid;
  align-items: center;
  margin-right: auto;
  grid-template-columns: 33px 1fr;
  width: 100%;

  @media (min-width: $tablet-width) {
    display: flex;
    height: 50px;
  }

  @media (min-width: $desktop-width) {
    height: 59px;
  }
}

.main-header__logo-text {
  justify-self: center;
}
