.main-nav {
  @media (min-width: $tablet-width) {
    justify-self: end;
  }
}

.main-nav__toggle {
  position: relative;
  z-index: 10;
  padding: 0;
  padding-top: 4px;
  padding-bottom: 4px;
  width: 24px;
  height: 24px;
  cursor: pointer;

  &:focus-visible {
    outline: 2px solid $primary-color;
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-nav__toggle-line {
  position: relative;
  display: block;
  width: 24px;
  height: 2px;
  background-color: $basic-black;
  transition: all 0.3s;
  transform: translateY(-2px);

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 0;
    display: block;
    width: 24px;
    height: 2px;
    background-color: $basic-black;
  }

  &::before {
    bottom: 8px;
    transition:
      bottom 0.2s 0.2s cubic-bezier(0.23, 1, 0.32, 1),
      transform 0.2s cubic-bezier(0.23, 1, 0.32, 1);
  }

  &::after {
    top: 8px;
    transition:
      top 0.2s 0.2s cubic-bezier(0.23, 1, 0.32, 1),
      transform 0.2s cubic-bezier(0.23, 1, 0.32, 1);
  }
}

.animate .main-nav__toggle-line {
  background: rgba(255, 255, 255, 0);

  &::before {
    bottom: 0;
    transform: rotate(45deg);
    background-color: $basic-black;
    transition:
      bottom 0.2s cubic-bezier(0.23, 1, 0.32, 1),
      transform 0.2s 0.2s cubic-bezier(0.23, 1, 0.32, 1);
  }

  &::after {
    top: 0;
    transform: rotate(-45deg);
    background-color: $basic-black;
    transition:
      top 0.2s cubic-bezier(0.23, 1, 0.32, 1),
      transform 0.2s 0.2s cubic-bezier(0.23, 1, 0.32, 1);
  }
}

@media (max-width: $mobile-width-only) {
  .main-nav--closed .main-nav__list {
    display: none;
    transition: transform 0.4s ease;
  }

  .main-nav--opened .main-nav__list {
    display: flex;
    transition: transform 0.3s ease-in-out;
  }
}

.main-nav--nojs .main-nav__toggle {
  display: none;
}

.main-nav--nojs.main-nav {
  grid-column: 1 / -1;
  grid-row: 2;
}

.main-nav--nojs .main-nav__list {
  position: static;
  display: flex;
}
