.main-footer {
  background-color: $basic-grey;
}

.main-footer .container {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;

  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(3, 1fr);
    padding-top: 59px;
    padding-bottom: 55px;
  }
}

.main-footer__logo {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  border-bottom: 1px solid $border-hover-color;

  &:focus {
    outline: 2px solid $primary-color;
  }

  @media (min-width: $tablet-width) {
    padding: 0;
    width: 128px;
    border: none;
    text-align: start;
  }
}
