.map {
  width: 100%;
  height: 362px;

  @media (min-width: $tablet-width) {
    height: 400px;
  }

  // @media (min-width: $desktop-width) {
  //   position: relative;
  // }
}

.map__marker {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
