.product-card {
  display: grid;
  grid-template-columns: 45% 55%;
  width: 100%;
  padding: 20px 0 25px;

  @media (min-width: $tablet-width) {
    grid-template-columns: 100%;
  }
}

.product-card__link-img {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: 1;
  grid-row: span 2;
}

.product-card__link-name {
  grid-column: 2;
  margin-bottom: 14px;
}

.product-card__name {
  max-width: 50%;
  font-size: 16px;
  line-height: 20px;
}

.product-card__features {
  grid-column: 2;
  grid-row: 2;
  margin-bottom: 17px;
}

.product-card__features-item {
  display: flex;
  justify-content: space-between;
  font-family: $secondary-font;
  font-size: 12px;
  line-height: 16px;
  color: $dark-grey;
}

.product-card__button {
  grid-column: 1 / -1;
}
