.program-form__group {
  margin: 0;
  padding: 0;
  border: none;
}

.program-form__group-question {
  margin-bottom: 22px;
}

.program-form__group-choose {
  margin-bottom: 26px;
}

.program-form__group-contact {
  margin-bottom: 24px;
}

.program-form__group-comment {
  margin-bottom: 23px;
}

.program-form__group-add {
  margin-bottom: 34px;
}

.program-form__item {
  &:not(:last-child) {
    margin-bottom: 12px;
  }
}

.program-form__label {
  @include grid-item-form;
  position: relative;
  font-size: 16px;
  text-transform: uppercase;
}

.program-form__label-icons {
  &::after {
    content: "";
    position: absolute;
    display: block;
    z-index: 20;
    width: 20px;
    height: 20px;
    right: 13px;
    top: 50%;
    transform: translateY(-50%);
  }

  &--email::after {
    @include icons-mask(
      $basic-black,
      url("../../images/icons/stack.svg#email-stroke")
    );
  }

  &--phone::after {
    @include icons-mask(
      $basic-black,
      url("../../images/icons/stack.svg#phone-stroke")
    );
  }
}

.program-form__label-icons:has(.program-form__input:focus)::after {
  background-color: $primary-color;
}

.program-form__input {
  padding: 11px 20px 11px 15px;

  &--email {
    padding-right: 30px;
  }
}

.program-form__name {
  max-width: 94px;
}

.program-form__title {
  margin-bottom: 35px;
  font-size: 24px;
  line-height: 26px;
  color: $basic-black;
}

.program-form__group-textarea {
  width: 100%;
  height: 150px;
  resize: none;
}

.program-form__button {
  width: 100%;
  margin-bottom: 18px;
}

.program-form__required-text {
  display: block;
  text-align: center;
  font-family: $secondary-font;
}
