.program-choose {
  padding-bottom: 19px;

  @media (min-width: $tablet-width) {
    padding: 23px 27px 27px;
    border: 1px solid $border-color;
  }
}

.program-choose__item {
  &:not(:last-child) {
    margin-bottom: 12px;

    @media (min-width: $tablet-width) {
      margin-bottom: 12px;
    }
  }
}
