.program-form {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "question choose"
      "contact contact"
      "comment comment"
      "add add"
      "footer footer";
    column-gap: 80px;
  }
}

.program-form__group {
  margin: 0;
  padding: 0;
  border: none;
}

.program-form__group-question {
  position: relative;
  margin-bottom: 22px;

  &::before {
    content: "";
    position: absolute;
    display: block;
    bottom: 0;
    left: -20px;
    right: -20px;
    height: 1px;
    background-color: $border-color;

    @media (min-width: $tablet-width) {
      content: none;
    }
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 72px;
    border: none;
  }

  @media (min-width: $desktop-width) {
    grid-area: question;
    margin-bottom: 70px;
  }
}

.program-form__group-choose {
  position: relative;
  margin-bottom: 26px;

  &::before {
    content: "";
    position: absolute;
    display: block;
    bottom: 0;
    left: -20px;
    right: -20px;
    height: 1px;
    background-color: $border-color;

    @media (min-width: $tablet-width) {
      content: none;
    }
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 65px;
  }

  @media (min-width: $desktop-width) {
    grid-area: choose;
    margin-bottom: 70px;
  }
}

.program-form__group-contact {
  margin-bottom: 20px;

  .program-form__list {
    @media (min-width: $desktop-width) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 80px;
      row-gap: 60px;
    }
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 63px;
  }

  @media (min-width: $desktop-width) {
    grid-area: contact;
    margin-bottom: 51px;
  }
}

.program-form__group-comment {
  margin-bottom: 23px;

  .program-form__title {
    @media (min-width: $tablet-width) {
      margin-bottom: 89px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 80px;
    }
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 61px;
  }

  @media (min-width: $desktop-width) {
    grid-area: comment;
    margin-bottom: 67px;
  }
}

.program-form__group-add {
  margin-bottom: 34px;

  .program-form__list {
    @media (min-width: $tablet-width) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 62px;
      row-gap: 32px;
    }

    @media (min-width: $desktop-width) {
      grid-template-columns: repeat(4, 1fr);
      column-gap: 80px;
      row-gap: 62px;
      overflow-wrap: break-word;
    }
  }

  .program-form__title {
    @media (min-width: $tablet-width) {
      margin-bottom: 57px;
    }
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 53px;
  }

  @media (min-width: $desktop-width) {
    grid-area: add;
    margin-bottom: 60px;
  }
}

.program-form__item {
  &:not(:last-child) {
    margin-bottom: 12px;

    @media (min-width: $tablet-width) {
      margin-bottom: 17px;
    }
  }
}

.program-form__label {
  display: grid;
  grid-template-columns: minmax(auto, max-content) minmax(173px, auto);
  column-gap: 13px;
  align-items: center;
  position: relative;
  font-size: 16px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    @include fonts-tablet-form;
  }
}

.program-form__label-icons {
  &::after {
    content: "";
    position: absolute;
    display: block;
    z-index: 20;
    width: 20px;
    height: 20px;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
  }

  &--email::after {
    @include icons-mask(
      $basic-black,
      url("../../images/icons/stack.svg#email-stroke")
    );
  }

  &--phone::after {
    @include icons-mask(
      $basic-black,
      url("../../images/icons/stack.svg#phone-stroke")
    );
  }
}

.program-form__label-icons:has(.program-form__input:focus)::after {
  background-color: $primary-color;
}

.program-form__label-icons:has(.program-form__input-invalid)::after {
  background-color: $status-error;
}

.program-form__input-invalid {
  outline: 2px solid $status-error;
  outline-offset: -1px;
}

.program-form__input {
  padding: 11px 20px 11px 15px;

  &--email {
    padding-right: 30px;
  }

  @media (min-width: $tablet-width) {
    padding: 11px 20px;
  }
}

.program-form__name {
  max-width: 170px;

  @media (min-width: $tablet-width) {
    max-width: 250px;
  }
}

.program-form__title {
  margin-bottom: 35px;
  font-size: 24px;
  line-height: 26px;
  color: $basic-black;

  br {
    @media (min-width: $tablet-width) {
      display: none;
      line-height: 36px;
    }
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 75px;
    font-size: 36px;
    line-height: 36px;
  }
}

.program-form__group-textarea {
  width: 100%;
  height: 150px;
  resize: none;

  @media (min-width: $tablet-width) {
    padding: 10px 15px 13px 19px;
    height: 175px;
  }
}

.program-form__button {
  width: 100%;
  margin-bottom: 18px;

  @media (min-width: $tablet-width) {
    padding: 14px 17px;
    margin: 0;
    font-size: 20px;
    line-height: 26px;
  }
}

.program-form__required-text {
  display: block;
  text-align: center;
  font-family: $secondary-font;

  @media (min-width: $tablet-width) {
    text-align: start;
    font-size: 16px;
    line-height: 16px;
  }
}

.program-form__wrapper-footer {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    column-gap: 60px;
  }

  @media (min-width: $desktop-width) {
    grid-area: footer;
    column-gap: 80px;
  }
}
