.purpose {
  padding-top: 20px;

  @media (min-width: $tablet-width) {
    padding-top: 0;
  }
}

.purpose__list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

  @media (min-width: $tablet-width) {
    gap: 30px;
  }

  @media (min-width: $desktop-width) {
    gap: 80px;
  }
}

.purpose__item {
  display: grid;
  grid-template-columns: 65px 1fr;
  column-gap: 6px;
  row-gap: 25px;
  position: relative;
  align-items: center;
  padding: 32px 20px 22px;
  width: 100%;
  background-color: $basic-grey;

  &::after {
    content: "";
    position: absolute;
    top: 24px;
    left: 5px;
    width: 80px;
    height: 50px;

    @media (min-width: $tablet-width) {
      width: 270px;
      height: 215px;
      right: 29px;
      top: 50%;
      left: auto;
      transform: translateY(-50%);
    }

    @media (min-width: $desktop-width) {
      width: 134px;
      height: 106px;
      right: auto;
      left: 36px;
      top: 94px;
    }
  }

  @media (min-width: $tablet-width) {
    grid-template-columns: 54% 46%;
    row-gap: 25px;
    padding: 76px 29px 59px 52px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 137px 1fr;
    padding: 76px 29px 63px 52px;
    width: calc((100% - 80px) / 2);
    column-gap: 25px;
    row-gap: 0;
  }
}

.purpose__item--slim::after {
  @include bg-icon(
    transparent,
    url("../../images/icons/stack.svg#cat-slim"),
    100%
  );

  @media (min-width: $tablet-width) {
    background-size: 215px 210px;
  }

  @media (min-width: $desktop-width) {
    background-size: 100%;
    background-position: top;
  }
}

.purpose__item--mass::after {
  @include bg-icon(
    transparent,
    url("../../images/icons/stack.svg#cat-puma"),
    100%
  );

  @media (min-width: $tablet-width) {
    right: 26px;
    top: 51%;
    left: auto;
    transform: translateY(-49%);
  }

  @media (min-width: $desktop-width) {
    right: auto;
    left: 36px;
    top: 94px;
    background-position: top;
  }
}

.purpose__title {
  grid-column: 2;
  font-size: 24px;
  line-height: 37px;

  @media (min-width: $tablet-width) {
    grid-column: 1;
    grid-row: 1;
    font-size: 36px;
    line-height: 100%;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2;
    margin-bottom: 73px;
  }
}

.purpose__descr {
  grid-column: 1/-1;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    right: 0;
    bottom: -22px;
    background-color: $border-hover-color;
    height: 1px;

    @media (min-width: $tablet-width) {
      content: none;
    }
  }

  @media (min-width: $tablet-width) {
    grid-column: 1;
    grid-row: 2;
    font-size: 16px;
    line-height: 150%;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1/-1;
    margin-bottom: 33px;
  }
}

.purpose__link {
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: minmax(auto, max-content) 32px;
  align-items: center;
  margin-top: 20px;
  gap: 15px;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: $basic-black;
  word-break: break-all;

  @media (min-width: $tablet-width) {
    grid-column: 1 / 2;
    grid-row: 3;
    gap: 26px;
    min-width: 165px;
    max-width: 100%;
    margin-top: 26px;
    font-size: 20px;
    line-height: normal;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1 / -1;
    margin-top: 0;
    line-height: 20px;
  }

  &:focus {
    outline: 2px solid $basic-black;
  }

  &:focus:not(:focus-visible) {
    outline: none;
  }

  &:focus-visible {
    outline: 2px solid $basic-black;
  }

  &::after {
    content: "";
    grid-column: 2;
    grid-row: 1;
    display: block;
    width: 32px;
    height: 12px;
    background:
      url("../../images/icons/stack.svg#icon_arrow") no-repeat center
      center;
    transition: transform 0.3s ease-in-out;
  }

  &::before {
    content: "";
    grid-column: 2;
    grid-row: 1;
    display: block;
    width: 17px;
    height: 2px;
    background-color: $basic-black;
  }

  &:hover::after {
    transform: translateX(6px);
  }

  &:active {
    opacity: 0.3;
  }
}
