.purpose__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
}

.purpose__item {
  display: grid;
  grid-template-columns: 134px 1fr;
  padding: 20px;
  background-color: $basic-grey;
}

.purpose__item::before {
  content: "";
  width: 134px;
  height: 100px;
}

.purpose__item--slim::before {
  background: url("../../images/icons/stack.svg#cat-slim") no-repeat center
    center;
}

.purpose__item--mass::before {
  background: url("../../images/icons/stack.svg#cat-puma") no-repeat center
    center;
}

.purpose__title {
  font-size: 24px;
  line-height: 37px;
}

.purpose__descr {
  grid-column: 1/-1;
}

.purpose__link {
  grid-column: 1/-1;
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: $basic-black;
}

.purpose__link::after {
  content: "";
  display: block;
  width: 32px;
  height: 10px;
  background: url("../../images/icons/stack.svg#icon_arrow") no-repeat center
    center;
}
