.purpose {
  padding-top: 20px;

  @media (min-width: $tablet-width) {
    padding-top: 82px;
  }
}

.purpose__list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

  @media (min-width: $desktop-width) {
    gap: 80px;
  }
}

.purpose__item {
  display: grid;
  grid-template-columns: 67px 1fr;
  column-gap: 11px;
  align-items: center;
  padding: 20px 20px 20px 13px;
  width: 100%;
  background-color: $basic-grey;

  &::before {
    content: "";
    width: 80px;
    height: 50px;
    justify-self: center;

    @media (min-width: $tablet-width) {
      grid-column: 2;
      grid-row: 1 / 3;
      width: 100%;
      height: 200px;
    }

    @media (min-width: $desktop-width) {
      grid-column: 1;
      grid-row: 1;
      height: 100px;
    }
  }

  @media (min-width: $tablet-width) {
    grid-template-columns: 60% 40%;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 134px 1fr;
    width: calc((100% - 80px) / 2);
    gap: 47px;
  }
}

.purpose__item--slim::before {
  @include bg-icon(
    transparent,
    url("../../images/icons/stack.svg#cat-slim"),
    100%
  );
}

.purpose__item--mass::before {
  @include bg-icon(
    transparent,
    url("../../images/icons/stack.svg#cat-puma"),
    100%
  );
}

.purpose__title {
  font-size: 24px;
  line-height: 37px;

  @media (min-width: $tablet-width) {
    grid-column: 1;
    grid-row: 1;
    font-size: 36px;
    line-height: 100%;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2;
  }
}

.purpose__descr {
  grid-column: 1/-1;

  @media (min-width: $tablet-width) {
    grid-column: 1;
    grid-row: 2;
    font-size: 16px;
    line-height: 150%;
  }
  @media (min-width: $desktop-width) {
    grid-column: 1/-1;
  }
}

.purpose__link {
  grid-column: 1/-1;
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: $basic-black;

  @media (min-width: $tablet-width) {
    grid-column: 1;
    grid-row: 3;
  }
}

.purpose__link::after {
  content: "";
  display: block;
  width: 32px;
  height: 10px;
  background: url("../../images/icons/stack.svg#icon_arrow") no-repeat center
    center;
}

.purpose__link:hover::after {
  // transform: scaleX(1.5);
}
