.site-list {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 20;
  display: none;
  flex-direction: column;
  justify-content: center;
  border-bottom: 1px solid $gray-bg;
  background-color: $basic-white;

  @media (min-width: $tablet-width) {
    position: static;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
    gap: 37px;
    border: none;
    background-color: transparent;
  }

  @media (min-width: $desktop-width) {
    gap: 35px;
  }
}

.site-list__link {
  display: inline-block;
  width: 100%;
  padding: 22px 15px 24px 15px;
  font-family: $primary-font;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  border-top: 1px solid $gray-bg;
  color: $basic-black;
  transition: opacity 0.2s ease-in-out;

  &:focus {
    outline: 2px solid $primary-color;
  }

  &:focus:not(:focus-visible) {
    outline: none;
  }

  &:focus-visible {
    outline: 2px solid $primary-color;
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  &--current {
    @media (min-width: $tablet-width) {
      position: relative;

      &::before {
        content: "";
        position: absolute;
        bottom: -10px;
        left: 0;
        right: 0;
        display: block;
        height: 2px;
        background-color: $primary-color;
      }
    }
  }

  @media (min-width: $tablet-width) {
    padding: 0;
    font-size: 18px;
    line-height: 24px;
    border: none;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
  }
}

.site-list__link--light {
  @media (min-width: $desktop-width) {
    color: $basic-white;

    &:focus-visible {
      outline: 2px solid $basic-white;
    }

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }
}

.site-list__link--light.site-list__link--current::before {
  @media (min-width: $desktop-width) {
    background-color: $basic-white;
  }
}
