.social__link {
  display: inline-block;
  width: 28px;
  height: 22px;
}

.social__link::before {
  content: "";
  display: block;
  width: 28px;
  height: 22px;
}

.social__link--vkontakte::before {
  @include icons-mask(
    $special-grey,
    url("../../images/icons/stack.svg#vkontakte")
  );
}

.social__link--youtube::before {
  @include icons-mask(
    $special-grey,
    url("../../images/icons/stack.svg#youtube")
  );
}

.social__link--telegram::before {
  @include icons-mask(
    $special-grey,
    url("../../images/icons/stack.svg#telegram")
  );
}

.social__link:hover::before {
  background-color: $primary-color;
}

.social__link:active::before {
  background-color: $primary-color;
  opacity: 0.3;
}
