.social {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 17px;
  border-bottom: 1px solid $border-hover-color;

  @media (min-width: $tablet-width) {
    padding: 0;
    border: none;
  }
}

.social__link {
  display: inline-block;
  width: 28px;
  height: 22px;
  transition: background-color 0.2s ease-in-out;

  &:focus-visible {
    outline: 2px solid $primary-color;
    outline-offset: 3px;
  }

  &:focus-visible::before {
    background-color: $primary-color;
  }

  &::before {
    content: "";
    display: block;
    width: 28px;
    height: 22px;
    transition: background-color 0.2s ease-in-out;
  }

  &--vkontakte::before {
    @include icons-mask(
      $special-grey,
      url("../../images/icons/stack.svg#vkontakte")
    );
  }

  &--youtube::before {
    @include icons-mask(
      $special-grey,
      url("../../images/icons/stack.svg#youtube")
    );
  }

  &--telegram::before {
    @include icons-mask(
      $special-grey,
      url("../../images/icons/stack.svg#telegram")
    );
  }

  &:hover::before {
    background-color: $primary-color;
  }

  &:active::before {
    background-color: $primary-color;
    opacity: 0.3;
  }
}
